
.container {
  display: flex;    /*it is necessary to have access to the other properties*/
  /*flex-direction: row;
  justify-content: center; /*space-between*/
  /*align-items: center;*/ /*baseline, start, end*/
  border: 8px solid red;
  padding: 10px;
  margin: 20px;
  background: white;
  box-shadow: 0px 0px 200px brown, 0px 0px 200px yellow;
}

body {
  padding: 20px;
  /*border: 20px solid pink;*/
  margin: 20px;
}

h1 {
  background: #94aa6d;
  color: #25722a;
  text-align: center;
  font-size: 38px;
}

.box {
  width: 30%;
  height: 300px;
  border: 1px solid #ea723f;
  border-top: 10px solid #ea723f;
  border-radius: 10px;
  background: #f2cc80;
  margin-left: 30px;
  float: right;
}

.box > h2 {
  color: #ea723f;
  font-weight: bold;
  padding: 10px 10px;
  margin: 0px 0px;
}

.box > p {
  color: black;
  padding: 0px 10px;
}

.note {
  padding: 0px;
  margin: 0px;
}


section > h2{
  width: 67%;
  color: #ea723f;
  font-weight: bold;
  border-bottom: 2px dashed #94aa6d;
  border-top: 2px dashed #94aa6d;
}

footer > h2 {
  clear: both;
  color: #ea723f;
  border-bottom: 2px dashed #94aa6d;
  border-top: 2px dashed #94aa6d;
}

/*section:first-of-type {
  color: blue;
  font-family: "Arial";
  font-size: normal;
  line-height: 30px;
}*/

a[href$=".pdf"] {
  background: yellow;
}

a[href$=".doc"] {
  background: purple;
}

a[href^="https://"] {
  background: green;
}

a:hover {
  font-size: 38px;
  font-weight: bold;
}
